* {
  box-sizing: border-box;
}

/* Text formatting */
.large {
  font-size: large;
}
.small {
  font-size: small;
}
.centered {
  text-align: center;
}

/* Div styling */
div {
  width: 100%;
}
div.container-center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

/* Form styling */
form {
  width: 30%;
}
input, select {
  width: 100%;
}
input[type=text], input[type=number] {
  font-size: large;
  margin-bottom: 10px;
}
