#q3a {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: baseline;
}

#q3b {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

#q3c {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
}

#q3d {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#q3d .special {
  align-self: center;
}

#q3d .special:nth-of-type(4) {
  flex: 3;
}

#q3e {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

#q3e div:first-child {
  order: 2;
}

#q3e .special:nth-child(2) {
  order: 1;
  align-self: flex-start;
}

#q3e div:nth-child(3) {
  order: 5;
  align-self: flex-start;
  margin-left: 3.5em;
}

#q3e .special:nth-child(4) {
  order: 3;
}

#q3e .special:nth-child(5) {
  order: 6;
  align-self: stretch;
}

#q3e div:nth-child(6) {
  order: 4;
}
